* {
  margin: 0px;
  padding: 0px;
}
.publicite {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  height: 525px;
  position: relative;
  background-image: url(https://pbs.twimg.com/media/C7CwBf4XAAAFSmn.jpg);
}
.cont {
  color: red;
  font-size: -webkit-xxx-large;
}
.point {
  color: white;
  font-size: -webkit-xxx-large;
}
.info {
  margin-top: 10px;
  color: whitesmoke;
  font-weight: bold;
}
