.sociaux {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  height: 150px;
  background-color: #02122d;
}
.cercle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 28px;
  width: 28px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
}
